<h2 mat-dialog-title>Your Bag Items:</h2>
<mat-dialog-content>
    Please confirm your order.
    <ul class="cart-list">
      <li *ngFor="let item of data.cartItems" class="cart-item">
        <span class="item-title">{{ item.title }}</span>  
        <span class="item-quantity">X {{ item.quantity }}</span> 
        <span class="item-price">Total Amount : {{ item.price  }}</span>
      </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="teal" (click)="onConfirm()">Confirm</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
